/*  3.6 - Slider 6
  /* ------------------------------------------------------------------------- */
.gvnews-slider-6 {
	.gvnews_slider_type_6_wrapper {
		.gvnews_slider_type_6 {
			&.gvnews_slider {
				/** fallback for placeholder hidden */
				position: inherit;
				visibility: visible;
				opacity: 1;
				display: block;
			}

			.gvnews_slide_item {
				width: 100%;
				height: 540px;
				position: relative;
				background-color: #212121;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}

			&:not(.tns-slider) .gvnews_slide_item:nth-child(n + 2) {
				display: none;
			}

			.gvnews_slide_item:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 1;
				background: rgba(0, 0, 0, 0.6);
			}

			.gvnews_caption_container {
				padding: 0;
				opacity: 0;
				-webkit-transform: translateX(40px);
				-ms-transform: translateX(40px);
				transform: translateX(40px);
				-webkit-transition: 0.4s ease 0.2s;
				-o-transition: 0.4s ease 0.2s;
				transition: 0.4s ease 0.2s;
			}

			.tns-slide-active .gvnews_caption_container,
			&:not(.tns-slider) .gvnews_caption_container {
				opacity: 1;
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}

			.gvnews_slide_caption {
				color: #fff;
				position: absolute;
				top: 50%;
				bottom: inherit;
				width: 80%;
				padding: 0;
				left: 0;
				right: 0;
				margin: auto;
				background: none;
				z-index: 2;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);

				.gvnews_post_title {
					font-size: 56px;
					font-weight: bold;
					line-height: 1.1;
					margin: 30px auto 40px;
					letter-spacing: -0.04em;
					position: relative;

					&:before {
						width: 40px;
						display: block;
						content: "";
						position: absolute;
						left: 0;
						bottom: -52px;
						border-top: 5px solid #fff;
					}
				}

				.gvnews_post_excerpt {
					max-width: 40%;
					text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
					margin-left: 90px;
				}

				.gvnews_post_meta {
					margin-left: 90px;
				}
			}
		}
		.tns-controls {
			position: absolute;
			right: 40px;
			bottom: 40px;
			opacity: 0;
			-webkit-transition: 0.25s ease-in;
			-o-transition: 0.25s ease-in;
			transition: 0.25s ease-in;
			z-index: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			gap: 10px;

			button {
				word-break: normal;
				position: relative;
				font-size: 12px;
				background: #fff;
				color: #212121;
				width: auto;
				margin: auto;
				height: 44px;
				line-height: 44px;
				padding: 0 20px;
				text-align: center;
				text-transform: uppercase;
				border: 0;
				-webkit-transition: 0.2s;
				-o-transition: 0.2s;
				transition: 0.2s;
				opacity: 1;

				&::before {
					text-transform: none;
				}
			}
		}

		&:hover .tns-controls {
			opacity: 0.9;
		}

		.tns-controls button {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5px;
			box-sizing: border-box;
			margin: 0;
			transition: all 0.15s ease;

			span, i {
				transition: inherit;
			}

			&.tns-prev {
				padding-left: 15px;
			}

			&.tns-next {
				padding-right: 15px;
			}
			&.tns-prev:before,
			&.tns-next:before {
				width: 13px;
				font-size: 14px;
				top: -0.04em;
				position: absolute;
				-webkit-transition: all 0.15s ease-in-out;
				-o-transition: all 0.15s ease-in-out;
				transition: all 0.15s ease-in-out;
			}

			&.tns-prev {
				padding-left: 30px;

				&:before {
					left: 12px;
				}
			}

			&.tns-next {
				padding-right: 30px;

				&:before {
					right: 12px;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.gvnews_slider_type_6.gvnews_col_2o3 {
		.gvnews_post_title {
			font-size: 40px;
			margin: 20px auto 30px;

			&:before {
				bottom: -42px;
			}
		}

		.gvnews_slide_caption .gvnews_post_excerpt {
			max-width: 60%;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.vc_row[data-vc-stretch-content="true"]
		.gvnews_slider_type_6.gvnews_col_3o3 {
		.gvnews_slide_caption .gvnews_post_excerpt {
			font-size: 16px;
			max-width: 420px;
		}

		.gvnews_post_title {
			font-size: 80px;
		}
	}
}
