/* src/assets/scss/fse-standard/desktop.scss */
.gvnews_postblock_23 {
    .gvnews_posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
        column-gap: 40px;
    }

    &.gvnews_col_2o3 .gvnews_posts {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }

    &.gvnews_col_1o3 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .gvnews_post {
        padding-right: 0;
        margin-bottom: 0;
    }
}

/* src/assets/scss/fse-standard/tablet.scss */
@media only screen and (max-width: 1024px) {
    .gvnews_postblock_23 {
        &.gvnews_col_3o3 .gvnews_posts {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 30px;
        }
    }
}

/* src/assets/scss/fse-standard/mobile.scss */
@media only screen and (max-width: 767px) {
    .gvnews_postblock_23 {
        .gvnews_post_title {
            font-size: 16px;
        }

        .gvnews_post_excerpt {
            margin: 0 0 0.5em;
        }

        .gvnews_post {
            margin-bottom: 20px;
        }

        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

/* src/assets/scss/parts/module.scss */
@media only screen and (max-width: 667px) {
    .gvnews_postblock_23 .gvnews_post_title {
        font-size: 18px;
    }
}

@media only screen and (max-width: 320px) {
    .gvnews_postblock_23 .gvnews_post_title {
        font-size: 14px !important;
    }
}
