:root {
    --gvnews-gutter-width: 20px;
}


/* Postblock 2 */


/* Postblock 8 */


/* Postblock 9 */


/* Postblock 11 */

.gvnews_postblock_37 {

    .gvnews_postblock_37 .gvnews_post_title {
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 5px;
    }

    .box_wrap {
        height: 100%;
    }

    .gvnews_postblock_content {
        padding: 20px 20px 25px;
        position: relative;
        text-align: center;
    }

    .gvnews_thumb .gvnews_post_category {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 0;
    }

    .gvnews_posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 25px;
        column-gap: 30px;

        .gvnews_post {
            margin-bottom: 0;
        }

        .box_wrap {
            display: flex;
            flex-direction: column;
            align-items: inherit;

            .gvnews_postblock_content {
                flex: 1;
                width: -webkit-fill-available;
                width: -moz-available;
                width: fill-available;
            }
        }
    }

    &.gvnews_col_1o3 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }
    }

    &.gvnews_col_2o3 .gvnews_posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Postblock 11 */


/* Postblock 14 */


/* Module 27 */
.gvnews_postblock_27 {

    &.gvnews_postblock {
        .gvnews_block_navigation {
            margin-top: 40px;
        }
    }

    .gvnews_posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 40px;
        column-gap: 40px;
    }

    &.gvnews_col_2o3 .gvnews_posts {
        grid-template-columns: repeat(2, 1fr);
    }


    &.gvnews_col_1o3 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }

        .gvnews_block_navigation {
            margin-top: 20px;
        }
    }

    .gvnews_post {
        padding-right: 0;
        margin-bottom: 0;
        width: 100%;
    }


}

/* Postblock 36 */

.gvnews_postblock_36 {

    .gvnews_pl_md_box {
        min-height: 400px;

        .gvnews_post_title {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .gvnews_post_excerpt {
            color: #fff;
        }

        .gvnews_post_meta {
            margin-top: 20px;

            .gvnews_meta_comment,
            .gvnews_post_review {
                float: right;
                margin-right: 0 !important;
            }
        }

        .gvnews_thumb {
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .gvnews_pl_md_5 {
        .gvnews_thumb {
            margin-bottom: 0;
        }

        .gvnews_postblock_content {
            position: relative;
            padding: 20px 20px 25px;
        }
    }

    .gvnews_thumb {
        .gvnews_post_category {
            top: 20px;
            left: 20px;
        }
    }

    .gvnews_posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
        column-gap: 30px;
    }

    &.gvnews_col_1o3 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &.gvnews_col_2o3 .gvnews_posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .gvnews_post {
        padding-right: 0;
        margin-bottom: 0;
        width: 100%;
    }

    .gvnews_pl_md_box .gvnews_post_meta {

        .gvnews_meta_comment,
        .gvnews_post_review {
            float: right;
            margin-right: 0 !important;
        }
    }

    .box_wrap {
        height: 100%;
    }
}

.gvnews-block.gvnews-block-wrapper {
    .gvnews_postblock_36 {
        .gvnews_post_title {
            font-size: 18px;
            font-weight: bold;
            margin: 0 0 5px;
        }
    }
}

/** Postblock 39 **/

.gvnews_postblock_39 {

    .gvnews_posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
        column-gap: 30px;
    }

    &.gvnews_col_1o3 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &.gvnews_col_2o3 .gvnews_posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .gvnews_post {
        padding-right: 0;
        margin-bottom: 0;
        width: 100%;
    }

    .gvnews_author_avatar {
        position: relative;
        display: inline-block;
    }

    .gvnews_meta_author img {
        width: 30px;
        margin-right: 8px;
    }

    .gvnews_author_info>span {
        display: block;
        line-height: 22px;
    }

    .gvnews_pl_sm .gvnews_postblock_content {
        margin-left: 0;
        padding-left: 0;
    }

    .gvnews_post:after {
        content: '';
        clear: both;
        display: table;
    }

    .gvnews_pl_md_1 .gvnews_post_title a,
    .gvnews_pl_sm .gvnews_post_title a {
        font-size: 20px;
        line-height: 1.4em;
        margin-bottom: 14px;
        font-weight: 500;
        color: #000;
    }

    .gvnews_pl_md_1 .gvnews_post_meta {
        box-sizing: border-box;
        border-bottom: 4px solid #eee;
        margin-top: 14px;
        padding-bottom: 25px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .gvnews_pl_sm .gvnews_meta_author {
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 25px;
    }

    .gvnews_meta_author {
        &:after {
            content: '';
            display: table;
            clear: both;
        }

        a {
            color: #212121;
        }
    }

    .gvnews_author_desc {
        font-size: 14px;
        color: #666;
    }

    .gvnews_author_name:hover,
    .gvnews_post_title:hover {
        text-decoration: underline;
    }

    .gvnews_author_avatar:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        display: block;
        top: 0;
        left: 0;
        opacity: 0;
    }
}

/*Post Masonry*/

.gvnews_postblock .gvnews_posts_masonry {
    .gvnews_post {
        visibility: hidden;
    }

    .gvnews_pl_md_5,
    .gvnews_pl_md_box {
        margin-bottom: 0;
    }
}

.gvnews_postblock .gvnews_posts_masonry {
    .gvnews_posts.shuffle {
        .gvnews_post {
            visibility: visible;

            &:not(:last-of-type) {
                margin-bottom: 30px;
            }
        }
    }
}

.gvnews_postblock {
    &.gvnews_col_1o3 .gvnews_posts_masonry {
        .gvnews_posts.shuffle {
            .gvnews_post {
                width: 100%;
            }
        }
    }

    &.gvnews_col_2o3 .gvnews_posts_masonry {
        .gvnews_posts.shuffle {
            .gvnews_post {
                width: calc((100% - var(--gvnews-gutter-width)) / 2);
            }
        }
    }

    &.gvnews_col_3o3 .gvnews_posts_masonry {
        .gvnews_posts.shuffle {
            .gvnews_post {
                width: calc((100% - (2 * var(--gvnews-gutter-width))) / 3);
            }
        }
    }
}

// @media only screen and (min-width: 768px) {
//   .gvnews_postblock_39:not(.gvnews_col_1o3) {
//     .gvnews_posts_wrap {
//       position: relative;

//       &:after {
//         content: "";
//         clear: both;
//         display: table;
//       }
//     }

//     .gvnews_posts {
//       -webkit-flex-wrap: wrap;
//       flex-wrap: wrap;
//       display: flex;
//       align-items: stretch;
//       margin-right: -30px;
//     }
//   }

//   .widget .gvnews_postblock_39.gvnews_col_1o3 {
//     margin-bottom: 0;
//   }

//   .gvnews_postblock_39 {
//     &.gvnews_col_2o3 .gvnews_post {
//       float: left;
//       width: 50%;
//       padding-right: 30px;
//     }

//     &.gvnews_col_3o3 .gvnews_post {
//       float: left;
//       width: 33.333333333%;
//       padding-right: 30px;
//     }
//   }
// }

.gvnews_heroblock_13 {

    .gvnews_postblock_content_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .gvnews_postblock_content {
            position: static;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 0 0 65px 65px;

            .gvnews_post_category {
                margin: 0;
            }

            .gvnews_post_info {
                margin: 0;
            }
        }
    }

    .gvnews_heroblock_wrapper {
        height: 430px;
    }

    .gvnews_post {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &.gvnews_hero_style_1 .gvnews_postblock_content {
        width: 50%;
    }

    &.gvnews_hero_style_2 {
        .gvnews_postblock_content_wrapper .gvnews_postblock_content {
            padding: 0 0 20px 25px;

            .gvnews_post_category {
                top: 0;
                right: 25px;
            }
        }

        .gvnews_post_info {
            position: static;
            margin: 0;
        }
    }

    &.gvnews_hero_style_3 .gvnews_postblock_content_wrapper .gvnews_postblock_content {
        width: 50%;
        justify-content: flex-start;
        padding: 25px 0 25px 25px;
    }

    &.gvnews_hero_style_4,
    &.gvnews_hero_style_7 {
        .gvnews_postblock_content_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .gvnews_postblock_content {
                height: fit-content;
                position: relative;
            }
        }
    }

    &.gvnews_hero_style_5 .gvnews_postblock_content_wrapper .gvnews_postblock_content {
        transform: none;
        justify-content: center;
        padding: 0;
    }

    &.gvnews_hero_style_5 .gvnews_postblock_content,
    &.gvnews_hero_style_6 .gvnews_postblock_content {
        width: 50%;
    }

    &.gvnews_hero_style_6 .gvnews_postblock_content {
        padding: 0 30px 30px;
    }

    &.gvnews_hero_style_7 .gvnews_postblock_content_wrapper {
        padding: 0 0 40px 40px;

        .gvnews_postblock_content {
            padding: 30px;
            position: relative;
            width: 70%;
            margin: 0;
            left: 0;
            bottom: 0;

            .gvnews_post_title {
                margin: 20px 0 15px;
            }

        }
    }

    .gvnews_heroblock_wrapper {
        height: 430px;
    }

    .gvnews_post {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

@media screen and (min-width: 768px) {
    .gvnews_heroblock_13 {

        &.gvnews_hero_style_4 .gvnews_postblock_content {
            padding: 25px 30px 20px;
        }

        &.gvnews_col_3o3.gvnews_hero_style_4 .gvnews_post_info {
            width: 80%;
        }
    }
}
