/* MOBILE DEVICE */
@media only screen and (max-width: 767px) {
    .gvnews_postblock_8 {
        .gvnews_posts {
            margin-right: 0;
            grid-template-columns: repeat(1, 1fr) !important;
            row-gap: 20px;
        }

        .gvnews_post {
            width: 100% !important;
            grid-column: span 1 !important;

            padding-right: 0;

            .gvnews_post_title {
                font-size: 16px !important;
            }
        }

        .gvnews_meta_author {
            display: inline-block;
        }

        &.gvnews_postblock {
            .gvnews_block_navigation {
                margin: 20px 0;
            }
        }
    }

    .gvnews_postblock_9 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr) !important;
        }

        .gvnews_post {
            .gvnews_post_title {
                font-size: 16px;
            }
        }

    }

    .gvnews_postblock_21 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr) !important;
        }

        .gvnews_post {
            row-gap: 20px;
        }

    }

    .gvnews_postblock_1 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr) !important;
            row-gap: 20px;
        }

        &.gvnews_postblock {
            .gvnews_block_navigation {
                margin: 20px 0;
            }
        }

    }

    .gvnews_postblock_2 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr) !important;
            row-gap: 20px;
        }

        &.gvnews_postblock {
            .gvnews_block_navigation {
                margin: 20px 0;
            }
        }

        .gvnews_pl_lg_2 {
            margin-bottom: 20px;
        }

        .gvnews_block_container {

            >.gvnews_post {
                display: block;
                margin-bottom: 20px;

                .gvnews_postblock_content {
                    margin-left: 0;
                }

                .gvnews_thumb {
                    margin-right: 20px;
                }
            }
        }
    }

    .gvnews_postblock_2 .gvnews_pl_lg_2 .gvnews_postblock_content {
        overflow: visible;
    }


    .gvnews_postblock_17:not(.gvnews_col_1o3) {
        .gvnews_posts_wrap {
            position: relative;
            overflow: hidden;
        }

        .gvnews_posts {
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            display: flex;
            align-items: stretch;
            margin-right: -30px;
        }
    }


    .gvnews_postblock_37 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .gvnews_postblock_11 {
        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .gvnews_postblock_13 {
        .gvnews_post_title {
            font-size: 16px;
            margin-top: 0;
        }

        .gvnews_post_excerpt {
            display: none;
        }

        .gvnews_thumb {
            margin-bottom: 10px;
        }

        &.gvnews_postblock {

            .gvnews-posts-row,
            .gvnews_posts_wrap .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .gvnews_postblock_14 {
        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
                row-gap: 20px;
            }

            .gvnews_postbig>.gvnews_post {
                margin-bottom: 15px;
            }

            .gvnews_block_navigation {
                margin: 20px 0;
            }
        }
    }

    .gvnews_postblock_15 {
        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
                row-gap: 20px;

            }

            .gvnews_block_navigation {
                margin: 20px 0;
            }
        }
    }

    .gvnews_postblock_16 {
        .gvnews_pl_lg_5 {
            margin-bottom: 15px;
        }

        .gvnews_posts {
            padding-top: 10px;
        }

        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    /* Postblock 20 */
    .gvnews_postblock_20 {
        &.gvnews_col_2o3 {
            .gvnews_postsmall {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .gvnews_pl_sm {
            margin-bottom: -2px;
        }

    }

    .gvnews_postblock_22 {
        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
                row-gap: 30px;
            }
        }

        .gvnews_post_title {
            font-size: 18px;
        }
    }

    .gvnews_postblock_23 {
        .gvnews_post_title {
            font-size: 16px;
        }

        .gvnews_post_excerpt {
            margin: 0 0 0.5em;
        }

        .gvnews_post {
            margin-bottom: 20px;
        }

        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .gvnews_postblock_24 {

        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .gvnews_pl_md_box {
            margin-bottom: 7px;
        }
    }
}