/* MOBILE DEVICE */
@media only screen and (max-width: 767px) {
    

    

    .gvnews_postblock {
        .gvnews_posts_masonry {
            .gvnews_posts.shuffle {
                .gvnews_post {
                    width: 100% !important;
                }
            }
        }
    }

    .gvnews_heroblock_13.gvnews_heroblock {

        .gvnews_postblock_content_wrapper {
            .gvnews_postblock_content {
                width: 100%;
                padding: 15px;
            }
        }

        &.gvnews_hero_style_2,
        &.gvnews_hero_style_3 {
            .gvnews_postblock_content_wrapper .gvnews_postblock_content {
                padding-bottom: 10px;
                padding: 25px;
            }
        }

        &.gvnews_hero_style_7 {
            .gvnews_postblock_content_wrapper {
                padding: 5px;

                .gvnews_postblock_content {
                    padding: 10px 12px;
                }
            }
        }
    }
}
