/* MOBILE DEVICE */
@media only screen and (max-width: 767px) {
    

    

    .gvnews_postblock_37 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    

    

    

    .gvnews_postblock_23 {
        .gvnews_post_title {
            font-size: 16px;
        }

        .gvnews_post_excerpt {
            margin: 0 0 0.5em;
        }

        .gvnews_post {
            margin-bottom: 20px;
        }

        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .gvnews_postblock_24 {

        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .gvnews_pl_md_box {
            margin-bottom: 7px;
        }
    }

    /* Module 27 */
    .gvnews_postblock_27 {
        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
                row-gap: 30px;
            }

            .gvnews_block_navigation {
                margin-top: 30px;
            }
        }
    }

    .gvnews_postblock_28 {
        &.gvnews_postblock {
            .gvnews_block_navigation {
                margin-top: 5px;
            }
        }
    }

    /* Module 36 */
    .gvnews_postblock_36 {
        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    /* Module 39 */
    .gvnews_postblock_39 {
        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .gvnews_postblock {
        .gvnews_posts_masonry {
            .gvnews_posts.shuffle {
                .gvnews_post {
                    width: 100% !important;
                }
            }
        }
    }

    .gvnews_heroblock_13.gvnews_heroblock {

        .gvnews_postblock_content_wrapper {
            .gvnews_postblock_content {
                width: 100%;
                padding: 15px;
            }
        }

        &.gvnews_hero_style_2,
        &.gvnews_hero_style_3 {
            .gvnews_postblock_content_wrapper .gvnews_postblock_content {
                padding-bottom: 10px;
                padding: 25px;
            }
        }

        &.gvnews_hero_style_7 {
            .gvnews_postblock_content_wrapper {
                padding: 5px;

                .gvnews_postblock_content {
                    padding: 10px 12px;
                }
            }
        }
    }
}
