@media only screen and (max-width: 1024px) {
    

    

    .gvnews_postblock_37 {
        .gvnews_posts {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    

    

    

    /* Module 36 */
    .gvnews_postblock_36 {
        &.gvnews_col_3o3 {
            .gvnews_posts {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 20px;
            }
        }
    }

    .gvnews_postblock {
        &.gvnews_col_3o3 .gvnews_posts_masonry {
            .gvnews_posts.shuffle {
                .gvnews_post {
                    width: calc((100% - var(--gvnews-gutter-width)) / 2);
                }
            }
        }
    }

    .gvnews_heroblock_13 {
        &.gvnews_hero_style_1 {
            .gvnews_postblock_content_wrapper .gvnews_postblock_content {
                padding: 0 0 50px 55px;
            }
        }

        &.gvnews_hero_style_2 {
            .gvnews_postblock_content_wrapper .gvnews_postblock_content {
                padding-bottom: 10px;
            }
        }

        &.gvnews_hero_style_6 {
            .gvnews_postblock_content_wrapper .gvnews_postblock_content {
                padding-bottom: 15px;
            }
        }

        &.gvnews_hero_style_7 {
            .gvnews_postblock_content_wrapper {
                padding: 0 0 30px 30px;

                .gvnews_postblock_content {
                    padding: 15px 25px;
                }
            }
        }
    }
}
