/* src/assets/scss/fse-standard/desktop.scss */
.gvnews_postblock_16 {
    .gvnews_postbig .gvnews_post {
        margin-bottom: 20px;
    }

    .gvnews_pl_xs_2 {
        page-break-inside: avoid;
    }

    &.gvnews_pb_boxed {
        .gvnews_pl_lg_5 {
            margin-bottom: 20px;
        }
    }

    &.gvnews_col_3o3 .gvnews_pl_lg_5 {
        .gvnews_post_title {
            font-size: 32px;
        }

        .gvnews_thumb img {
            width: 100%;
        }
    }

    .gvnews_posts {
        padding-top: 15px;
        border-top: 1px solid #eee;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5px;
        column-gap: 40px;

        .gvnews_post {
            padding-right: 0;
            margin-bottom: 0;
        }
    }

    .gvnews_block_container {
        >.gvnews_post {
            margin-bottom: 30px;

            .gvnews_thumb {
                margin-right: 0;
            }
        }
    }

    &.gvnews_col_1o3 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
        }

        .gvnews_pl_lg_5 {
            margin-bottom: 20px;

            .gvnews_post_title {
                font-size: 18px;
            }
        }
    }
}

/* src/assets/scss/fse-standard/tablet.scss */
@media only screen and (max-width: 1024px) {
    .gvnews_postblock_16 .gvnews_pl_lg_5 {
        margin-bottom: 20px;
    }
}

/* src/assets/scss/fse-standard/mobile.scss */
@media only screen and (max-width: 767px) {
    .gvnews_postblock_16 {
        .gvnews_pl_lg_5 {
            margin-bottom: 15px;
        }

        .gvnews_posts {
            padding-top: 10px;
        }

        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

/* Moved from src/assets/scss/fse-standard.scss */
.gvnews_postblock {
    .gvnews_post {
        .gvnews-thumb-overlay-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            color: #fff;
            line-height: 1;
            pointer-events: none;
        }
    }

    .with-overlay-icon .gvnews-thumb-overlay {
        background: #000;
        opacity: 0.3;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        z-index: 1;
        pointer-events: none;
    }
}

.gvnews_post {
    .gvnews-thumb-overlay-icon {
        transition: all .3s;
    }
}

