.gvnews_postblock_21 .gvnews_post {
    display: flex;

    .gvnews_thumb {
        margin-right: 15px;
        flex-shrink: 0;
    }

    .gvnews_postblock_content {
        flex: 1;
        margin-left: unset;
        padding-left: unset;
    }
}

/* src/assets/scss/fse-standard/desktop.scss */
.gvnews_postblock_21 {
    .gvnews_posts_wrap {
        position: relative;
        overflow: hidden;
    }

    .gvnews_posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 25px;
        column-gap: 30px;
    }

    &.gvnews_col_1o3 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }

        .gvnews_block_navigation {
            margin-top: 20px;
        }
    }

    &.gvnews_col_2o3 .gvnews_posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .gvnews_post {
        padding-right: 0;
        margin-bottom: 0;
    }
}

/* src/assets/scss/fse-standard/mobile.scss */
@media only screen and (max-width: 767px) {
    .gvnews_postblock_21 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr) !important;
        }

        .gvnews_post {
            row-gap: 20px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .gvnews_postblock_21 .gvnews_post {
        .gvnews_thumb {
            margin-right: 10px;
        }
    }
}