.gutenverse-panel.panel-header-filter.pro>h2>button:after {
    align-items: center;
    background: #FFFBEF;
    border: 1px solid #EEBC0D;
    border-radius: 2px;
    color: #1E1E1E;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 11px;
    content: "DEPRECATED";
}

.gvnews-deprecated-block {
    position: relative;
    min-height: 72px;
    margin: 10px 0;

    .deprecated-block-content {
        position: absolute;
        bottom: 0;
        left: 0;
        letter-spacing: 0;
        right: 0;
        top: 0;
        z-index: 9998;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #000000A6;
        backdrop-filter: blur(10px);
        color: #fff;
        font-family: "Roboto";
        font-weight: 400;
        flex-direction: column;
        gap: 16px;
        font-size: 16px;
        min-height: 72px;

        span {
            display: inline-flex;
            align-items: center;
            gap: 8px;

            svg {
                width: 18px;
            }
        }

        a {
            font-weight: 500;
            font-style: Medium;
            font-size: 12px;
            letter-spacing: 0.5px;
            text-decoration: underline;
            text-transform: uppercase;
            color: #fff !important;
            text-decoration-style: solid;
            text-decoration-thickness: 0%;
            text-decoration-skip-ink: auto;
            background: none;

        }
    }
}

.gutenverse-panel-wrapper {
    .deprecated-blocks-panel {
        margin: 16px;
        padding: 16px;
        border: 1px solid #EEBC0D;
        background: #FFFBEF;
        display: flex;
        flex-direction: row;
        gap: 12px;

        .deprecated-desc {
            font-family: "Roboto";
            font-weight: 400;
            font-size: 12px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            h5 {
                font-weight: 700;
            }

            h5,
            p {
                font-size: 12px;
                margin: 0;
            }
        }
    }

}

.gutenverse-control-wrapper.gutenverse-control-image-radio .control-body label.deprecated {
    position: relative;

    img {
        filter: grayscale(80%);
    }

    .deprecated-overlay {
        position: absolute;
        position: absolute;
        bottom: 2px;
        left: 2px;
        letter-spacing: 0;
        right: 2px;
        top: 2px;
        z-index: 9998;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #0000001A;

        .deprecated-warning {
            border: 1px solid #EEBC0D;
            padding: 5px;
            background: #FFFBEF;
            border-radius: 2px;
            box-shadow: 0px 2px 18px 0px #00000052;
        }
    }


}


.gvnews-deprecated-modal {
    display: none;

    body.gvnews-deprecated-popup & {
        display: block;
    }

    .gvnews-deprecated-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;

        .gvnews-deprecated-box {
            background: #fff;
            border-radius: 8px;
            width: 90%;
            max-width: 500px;
            padding: 40px 48px;
            position: relative;
            box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);

            .gvnews-popup-close {
                position: absolute;
                top: 12px;
                right: 12px;
                border: none;
                background: none;
                font-size: 20px;
                cursor: pointer;
            }

            .gvnews-deprecated-text {
                font-family: "Roboto";
                font-weight: 400;
                letter-spacing: 0px;
                color: #53585C;

                .blocks-deprecated-text {
                    display: none;
                }

                .options-deprecated-text {
                    display: none;
                }

                h2 {
                    margin: 16px 0;
                    font-weight: 700;
                    font-size: 22px;
                }

                p {
                    margin-bottom: 20px;
                    font-size: 16px;
                }

                .gvnews-deprecated-actions {
                    display: flex;
                    gap: 10px;
                    margin-top: 40px;
                    font-size: 13px;
                    font-weight: 500;

                    .gvnews-replace-btn {
                        background-color: #F70D28;
                        color: white;
                        border: none;
                        padding: 6px 12px;
                        text-transform: uppercase;
                        cursor: pointer;
                        text-decoration: none;
                    }

                    .gvnews-ok-btn {
                        background-color: transparent;
                        color: #000;
                        border: none;
                        padding: 10px 16px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

body.gvnews-deprecated-options .gvnews-deprecated-modal .gvnews-deprecated-backdrop .gvnews-deprecated-box .gvnews-deprecated-text .options-deprecated-text {
    display: block;
}

body.gvnews-deprecated-blocks .gvnews-deprecated-modal .gvnews-deprecated-backdrop .gvnews-deprecated-box .gvnews-deprecated-text .blocks-deprecated-text {
    display: block;
}