/* Postblock 1 */

.gvnews_postblock_1 {
    .gvnews_posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        margin: 0 0 30px 0;

        .gvnews_postsmall,
        >.gvnews_post {
            width: 100%;
            padding: 0;
            margin: 0;
        }


        .gvnews_postsmall {
            display: flex;
            flex-direction: column;
            gap: 15px;

            &:first-of-type {
                gap: 20px;
            }
        }

        &::after {
            content: none;
        }
    }

    &.gvnews_col_1o3 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }
    }

    &.gvnews_col_2o3 .gvnews_posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .gvnews_post {
        padding-right: 0;
        margin-bottom: 0;
    }
}

/* Postblock 8 */

.gvnews_postblock_8 {
    .gvnews_posts_wrap {
        position: relative;
        overflow: hidden;
    }

    .gvnews_posts {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto;
        grid-auto-flow: row dense;
        row-gap: 30px;
        column-gap: 30px;
        margin-bottom: 30px;
    }

    .gvnews_post {
        padding-right: 0;
        margin-bottom: 0;
    }

    .gvnews_post_title {
        font-size: 14px;
        line-height: 1.4;
    }


    &.gvnews_col_1o3 {
        .gvnews_posts {
            grid-template-columns: 1fr;
            row-gap: 20px;
            margin-bottom: 20px;

            .gvnews_post {
                grid-column: span 1;
            }

            .gvnews_post_title {
                font-size: 16px;
            }
        }

    }

    &.gvnews_col_2o3 .gvnews_post {

        grid-column: span 4;

        &:nth-child(-n + 2) {
            grid-column: span 6;
        }
    }

    &.gvnews_col_3o3 .gvnews_post {
        grid-column: span 3;

        &:nth-child(-n + 3) {
            grid-column: span 4;

            .gvnews_post_title {
                font-size: 16px;
            }
        }
    }

    &.gvnews_col_1o3 &.gvnews_col_2o3 .gvnews_post {

        &:nth-child(1) .gvnews_post_title,
        &:nth-child(2) .gvnews_post_title {
            font-size: 16px;
        }
    }
}

/* Postblock 9 */

.gvnews_postblock_9 {
    .gvnews_posts_wrap {
        position: relative;
        overflow: hidden;
    }

    .gvnews_posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
        column-gap: 30px;
        margin-bottom: 30px;
    }

    &.gvnews_col_1o3 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
            margin-bottom: 20px;
        }
    }

    &.gvnews_col_2o3 .gvnews_posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .gvnews_post {
        padding-right: 0;
        margin-bottom: 0;
        width: 100%;
    }
}

/* Postblock 11 */

.gvnews_postblock_21 {
    .gvnews_posts_wrap {
        position: relative;
        overflow: hidden;
    }

    .gvnews_posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 25px;
        column-gap: 30px;
        margin-bottom: 25px;
    }

    &.gvnews_col_1o3 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }
    }

    &.gvnews_col_2o3 .gvnews_posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .gvnews_post {
        padding-right: 0;
        margin-bottom: 0;
    }
}

/* TABLET DEVICE */

@media only screen and (max-width: 1024px) {
    .gvnews_postblock_8 {
        .gvnews_thumb {
            margin-bottom: 10px;
        }

        .gvnews_post_title {
            font-size: 13px;
        }

        &.gvnews_col_3o3 .gvnews_post {
            grid-column: span 4;

            &:nth-child(-n + 4) {
                grid-column: span 6;
            }
        }
    }

    .gvnews_postblock_9 {

        &.gvnews_col_3o3,
        .gvnews_col_2o3 {
            .gvnews_posts {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .gvnews_postblock_21 {
        &.gvnews_col_3o3 .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
        }

        .gvnews_posts {
            margin-bottom: 20px;
        }
    }


}

/* MOBILE DEVICE */
@media only screen and (max-width: 767px) {
    .gvnews_postblock_8 {
        .gvnews_posts {
            margin-right: 0;
            grid-template-columns: repeat(1, 1fr) !important;
            row-gap: 20px;
            margin-bottom: 20px;
        }

        .gvnews_post {
            width: 100% !important;
            grid-column: span 1 !important;

            padding-right: 0;

            .gvnews_post_title {
                font-size: 16px !important;
            }
        }

        .gvnews_meta_author {
            display: inline-block;
        }
    }

    .gvnews_postblock_9 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr) !important;
        }

        .gvnews_post {
            .gvnews_post_title {
                font-size: 16px;
            }
        }

    }

    .gvnews_postblock_21 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr) !important;
        }

        .gvnews_post {
            row-gap: 20px;
            margin-bottom: 20px;
        }

    }

    .gvnews_postblock_1 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr) !important;
            row-gap: 20px;
            margin-bottom: 20px;
        }

    }
}