@import "../../editor/blocks/post-tag/styles/style";
@import "../../editor/blocks/post-related/styles/style.scss";
@import "../../editor/blocks/post-breadcrumb/styles/style.scss";
@import "../../editor/blocks/post-comment/styles/style";
@import "../../editor/blocks/post-meta/styles/style";
@import "../../editor/blocks/post-author/styles/style";
@import "../../editor/blocks/post-title/styles/style";
@import "../../editor/blocks/post-featured-image/styles/style";
@import "../../editor/blocks/post-prev-next/styles/style";

.gvnews_breadcrumbs {
	margin: 0 auto 15px;
}

/*** Breadcrumbs ***/

.gvnews_breadcrumbs {
	margin-bottom: 20px;
}

.gvnews_breadcrumbs #breadcrumbs,
.gvnews-archive-breadcrumb #breadcrumbs {
	font-size: 12px;
	margin: 0;
	color: #a0a0a0;

	.fas {
		padding: 0 3px;

		&:before {
			content: ">";
		}
	}
}

.gvnews_featured {
	margin-bottom: 20px;
}

.gvnews_post_source,
.gvnews_post_via,
.editor-styles-wrapper .gvnews_post_category {
	font-size: 12px;
	clear: both;
}

.gvnews_post_source span,
.gvnews_post_via span,
.editor-styles-wrapper .gvnews_post_category span {
	font-weight: bold;
	margin-right: 3px;
}

.gvnews-block.gvnews-block-wrapper {
	.gvnews_post_category a:hover,
	.gvnews_post_via a:hover {
		color: #fff;
		background: var(--wp--preset--color--accent, #f70d28);
	}

	.gvnews_post_category a,
	.gvnews_post_source a {
		color: #616161;
		background: #f5f5f5;
		display: inline-block;
		letter-spacing: 1px;
		line-height: normal;
		padding: 4px 10px;
		margin: 0 3px 5px 0;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;
		-webkit-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
}

.gvnews-block.gvnews-block-wrapper {
	.gvnews_post_category a,
	.gvnews_post_source a {
		background: var(--wp--preset--color--accent, #f70d28);
		color: inherit;
	}
}

/*** Featured Content ***/

.gvnews_featured {
	margin-bottom: 30px;

	.wp-caption-text {
		margin: 3px 0 0;
		text-align: right;
		font-size: 11px;
		color: #a0a0a0;
	}

	// .gvnews_video_container {
	// 	background: #dfdfdf;
	// }
}
