/*** Breadcrumbs ***/
.gvnews_featured {
	margin-bottom: 20px;
}

.gvnews_post_source,
.gvnews_post_via,
.editor-styles-wrapper .gvnews_post_category {
	font-size: 12px;
	clear: both;
}

.gvnews_post_source span,
.gvnews_post_via span,
.editor-styles-wrapper .gvnews_post_category span {
	font-weight: bold;
	margin-right: 3px;
}