.gvnews-post-title {

    width: fit-content !important;

    .title-wrapper {
        h1.the-title {
            font-size: 4em;
            font-weight: 700;
            letter-spacing: -.04em;
            line-height: 1.1;
            margin: 0;
        }
    }
}