/* Postblock 15 */

.gvnews_postblock_15 {
	.gvnews_posts_wrap {
		position: relative;
		overflow: hidden;
	}

	.gvnews_posts {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		display: flex;
		align-items: flex-start;
        gap: 2%;
	}

	.gvnews_post {
		width: 49%;
	}
}

@media only screen and (min-width: 768px) {
	.gvnews_postblock_15 {
		&.gvnews_col_1o3 {
			.gvnews_posts {
				margin-right: 0;
			}

			.gvnews_post {
				width: 100%;
				padding-right: 0px;
			}
		}

		&.gvnews_col_3o3 .gvnews_post {
			width: 32%;
		}
	}
}
