/* Moved from src/assets/scss/fse-standard/desktop.scss */
.gvnews_postblock_1 {
    .gvnews_block_container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .gvnews_posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;

        .gvnews_postsmall,
        >.gvnews_post {
            width: 100%;
            padding: 0;
            margin: 0;
        }


        .gvnews_postsmall {
            display: flex;
            flex-direction: column;
            gap: 15px;

            &:first-of-type {
                gap: 20px;
            }
        }

        &::after {
            content: none;
        }
    }

    &.gvnews_col_1o3 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }

        .gvnews_block_navigation {
            margin-top: 20px;
        }
    }

    &.gvnews_col_2o3 .gvnews_posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .gvnews_post {
        padding-right: 0;
        margin-bottom: 0;
    }


}

/* Moved from src/assets/scss/fse-standard/mobile.scss */
@media only screen and (max-width: 767px) {
    .gvnews_postblock_1 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr) !important;
            row-gap: 20px;
        }

        &.gvnews_postblock {
            .gvnews_block_navigation {
                margin-top: 20px;
            }
        }

    }

}

/* Moved from src/assets/scss/parts/module.scss */
@media only screen and (min-width: 768px) {
    .gvnews_postblock_1.gvnews_col_1o3 .gvnews_pl_lg_1 .gvnews_post_title {
        font-size: 16px;
    }

}