.gvnews_heropost_1 .gvnews_empty_module {
    padding: 20px 0;
}


.gvnews_heropost_1 .gvnews_post:last-child {
    margin-bottom: 0;
}

.gvnews_heropost_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    >div {
        padding: 0 15px;
    }

    .gvnews_postbig {
        width: 50%;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .gvnews_postsmall {
        &.left {
            width: 25%;
            padding-left: 0;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
        }

        &.right {
            width: 25%;
            padding-right: 0;
            -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
            order: 3;
        }
    }
}

@media only screen and (max-width: 768px) {
    .gvnews_heropost_1 {
        display: block;

        >div {
            padding: 0;
        }

        .gvnews_postbig {
            width: 100%;
            margin-bottom: 30px;
        }

        .gvnews_postsmall {
            &.left {
                width: 50%;
                float: left;
                margin-right: 10%;
            }

            &.right {
                width: 40%;
                float: left;
            }
        }

        .gvnews_pl_sm_2 {
            margin-bottom: 30px;

            .gvnews_post_title {
                font-size: 20px;
                line-height: 1.3;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .gvnews_heropost_1 .gvnews_pl_sm_2 .gvnews_post_title {
        font-size: 16px;
        line-height: 1.4;
    }
}

@media only screen and (max-width: 667px) {
    .gvnews_heropost_1 {
        .gvnews_postsmall {
            &.left {
                margin-right: 0;
                padding-right: 15px;
            }

            &.right {
                width: 50%;
                padding-left: 15px;
            }
        }

        .gvnews_pl_md_box {
            margin-bottom: 20px;

            .gvnews_post_title {
                font-size: 18px;
            }
        }
    }
}

@media only screen and (max-width: 568px) {
    .gvnews_heropost_1 .gvnews_pl_sm_2 {
        margin-bottom: 20px;

        .gvnews_post_title {
            font-size: 1em;
        }
    }

    .gvnews_heropost_1 .gvnews_pl_md_box .gvnews_post_title {
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    .gvnews_heropost_1 {
        .gvnews_postbig {
            margin-bottom: 15px;
        }

        .gvnews_pl_sm_2:not(:last-of-type) {
            margin-bottom: 15px;
        }
    }

    .gvnews_heropost_1 {

        .gvnews_postbig,
        .gvnews_pl_sm_2 {
            margin-bottom: 20px;
        }

        .gvnews_postsmall {
            &.left {
                width: 100%;
                padding-right: 0;
            }

            &.right {
                width: 100%;
                padding-left: 0;
            }
        }

        .gvnews_pl_md_box .gvnews_post_title {
            font-size: 18px;
        }

        .gvnews_pl_sm_2 {
            text-align: center;

            &:after {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .gvnews_heropost_1 {
        .gvnews_postbig {
            margin-bottom: 20px;
        }

        .gvnews_postsmall {
            &.left {
                width: 100%;
                padding-right: 0;
            }

            &.right {
                width: 100%;
                padding-left: 0;
            }
        }

        .gvnews_pl_sm_2 {
            text-align: center;

            &:after {
                width: 100%;
            }
        }
    }

    .gvnews_heropost_1 {
        .gvnews_postbig {
            margin-bottom: 15px;
        }

        .gvnews_pl_sm_2 {
            &:after {
                margin-top: 15px;
            }

            &:last-child {
                margin-bottom: 20px;
            }
        }
    }
}

/* Moved from src/assets/scss/fse-standard.scss */
.gvnews_heropost_14.gvnews_postblock {
    .gvnews_post {
        .gvnews-thumb-overlay-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 22px;
            z-index: 1;
            color: #fff;
            line-height: 1;
            pointer-events: none;
        }
    }

    .with-overlay-icon .gvnews-thumb-overlay {
        background: #000;
        opacity: 0.3;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        z-index: 1;
        pointer-events: none;
    }
}

.gvnews_heropost_14 .gvnews_post .gvnews-thumb-overlay-icon {
    transition: all .3s;
}
