/* Moved from src/assets/scss/parts/module.scss */
    .gvnews_postblock_7.gvnews_pb_boxed .gvnews_block_container {
    overflow: visible;
}

    .gvnews_postblock_7.gvnews_pb_boxed .gvnews_post {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (min-width: 768px) {
    .gvnews_postblock_7.gvnews_col_1o3 .gvnews_pl_lg_6 {
        margin-bottom: 20px;
        padding-bottom: 20px;

        &:last-child {
            padding-bottom: 0;
        }

        .gvnews_post_title {
            font-size: 18px;
        }

        .gvnews_thumb {
            width: 100%;
            margin: 0 0 10px;
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .gvnews_postblock_7 {
        .gvnews_pl_lg_6 .gvnews_thumb {
            width: 220px;
        }

        &.gvnews_col_1o3 .gvnews_pl_lg_6 .gvnews_post_title {
            font-size: 16px;
            margin-bottom: 10px;
        }

        &.gvnews_col_2o3 .gvnews_pl_lg_6 .gvnews_post_title {
            margin-bottom: 10px;
        }

        &.gvnews_col_1o3 .gvnews_meta_author,
        &.gvnews_col_2o3 .gvnews_meta_author {
            display: none;
        }
    }

}

@media only screen and (max-width: 767px) {
    .gvnews_postblock_7 .gvnews_thumb {
        margin-bottom: 1em;
    }

}

@media only screen and (max-width: 320px) {
    .gvnews_postblock_7 .gvnews_post_title {
        font-size: 14px;
    }

}

.gvnews_postblock_7 {
	.gvnews_pl_lg_6 {
		display: grid;
		border-color: #eee;
		column-gap: 30px;
		grid-template-columns: 1fr auto;
		grid-template-areas:
			"title title"
			"content thumb";

		.gvnews_post_title {
			grid-area: title;
		}
		.gvnews_thumb {
			grid-area: thumb;
			width: 300px;
			margin: 0;
			align-self: center;
			justify-self: end;
		}
		.gvnews_postblock_content {
			grid-area: content;
		}
		&:last-child {
			border-bottom: initial;
			border-bottom-color: #eee;
		}
	}
	&.gvnews_col_1o3 {
		.gvnews_pl_lg_6 {
			display: flex;
			flex-direction: column;
			.gvnews_post_title {
				order: 1;
				width: 100%;
			}
			.gvnews_thumb {
				order: 2;
				width: 100% !important;
			}
			.gvnews_postblock_content {
				order: 3;
				margin: 0;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.gvnews_postblock_7 {
		.gvnews_pl_lg_6 {
			display: flex;
			flex-direction: column;
			.gvnews_post_title {
				order: 1;
				width: 100%;
			}
			.gvnews_thumb {
				order: 2;
				width: 100% !important;
			}
			.gvnews_postblock_content {
				order: 3;
				margin: 0;
			}
		}
	}
}
