.gvnews_userlist {

    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 30px;
        column-gap: 30px;
        padding: 0;
        padding-left: 0;
        margin: 0;
        list-style: none !important;

        li {
            list-style: none;
            vertical-align: top;
        }
    }

    .gvnews_userlist-wrap {
        height: 100%;
    }

    .gvnews_userlist-name {
        display: block;
        font-size: 17px;
        font-weight: bold;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }

    .gvnews_userlist-desc {
        color: #a0a0a0;
        display: block;
        font-size: 14px;
        line-height: 22px;
        margin-top: 10px;
    }

    .gvnews_userlist-socials {
        margin-top: 10px;

        a {
            display: inline-block;
            margin-right: 14px;
            color: #999999;

            &:last-child {
                margin-right: 0;
            }

        }
    }

    &.style-1 {
        .gvnews_userlist-wrap {
            text-align: center;
            padding: 20px;
        }

        img.photo {
            width: 80px;
            height: 80px;
            border-radius: 100px;
            margin-bottom: 20px;
        }

        .gvnews_userlist-content {
            margin-bottom: 10px;
        }

        .gvnews_userlist-wrap {
            border: 1px solid #eee;
        }
    }

    &.style-2 {
        .gvnews_userlist-wrap {
            border: 1px solid #eee;
            display: flex;
            padding: 20px;
            box-shadow: 3px 3px rgba(0, 0, 0, 0.03);
        }

        .gvnews_userlist-photo {
            flex: 0 0 60px;
            margin-right: 15px;
        }

        img.photo {
            width: 60px;
            height: 60px;
            border-radius: 100%;
        }
    }

    &.style-5 img.photo {
        width: 60px;
        height: 60px;
        border-radius: 100%;
    }

    &.style-3 {
        .gvnews_userlist-wrap {
            border-bottom: 1px solid #eee;
        }

        img.photo {
            width: 100%;
        }

        .gvnews_userlist-content {
            margin: 20px 0;
        }

        .gvnews_userlist-socials {
            margin-top: 5px;
            margin-right: -10px;

            a {
                display: inline-block;
                margin: 10px 14px 0 0;
            }
        }
    }

    &.style-4 {

        &.gvnews_1_block {
            ul {
                margin: 0 !important;
                row-gap: 12px;
            }

            li {
                display: block;
                padding: 0;
            }
        }

        .gvnews_userlist-wrap {
            text-align: left;

            >div {
                float: left;
            }

            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }

        .gvnews_userlist-photo {
            width: 20px;
            height: 20px;

            a {
                display: inline-block;
            }
        }

        img.photo {
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

        .gvnews_userlist-name {
            color: #212121;
            font-size: 14px;
            font-weight: normal;
            line-height: 21px;
            margin-left: 10px;
            margin-bottom: 0;
        }
    }

    &.style-5 {
        .gvnews_userlist-wrap {
            display: flex;
            background: #f7f7f7;
            padding: 16px;
            border-radius: 3px;
        }

        .gvnews_userlist-photo {
            flex: 0 0 48px;
            margin-right: 12px;
        }

        img.photo {
            width: 48px;
            height: 48px;
            margin: 0;
        }

        .gvnews_userlist-name {
            color: #212121;
            font-size: 14px;
            margin-bottom: 4px;
        }
    }

    &.gvnews_1_block ul {
        grid-template-columns: repeat(1, 1fr);
    }

    &.gvnews_2_block ul {
        grid-template-columns: repeat(2, 1fr);
    }

    &.gvnews_3_block ul {
        grid-template-columns: repeat(3, 1fr);
    }

    &.gvnews_4_block ul {
        grid-template-columns: repeat(4, 1fr);
    }

    &.gvnews_5_block ul {
        grid-template-columns: repeat(5, 1fr);
    }

    &.gvnews_6_block ul {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (max-width: 1024px) {
    .gvnews_userlist {

        &.gvnews_3_block ul,
        &.gvnews_4_block ul,
        &.gvnews_5_block ul,
        &.style-2.gvnews_3_block ul {
            grid-template-columns: repeat(2, 1fr);
        }

        &.gvnews_6_block ul,
        &.style-3.gvnews_5_block ul {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}


@media screen and (max-width: 768px) {
    .gvnews_userlist {
        &.style-1 {

            &.gvnews_2_block ul,
            &.gvnews_3_block ul,
            &.gvnews_4_block ul,
            &.gvnews_5_block ul {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &.style-2 {

            &.gvnews_2_block ul,
            &.gvnews_3_block ul {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &.style-5 {

            &.gvnews_2_block ul,
            &.gvnews_3_block ul,
            &.gvnews_4_block ul,
            &.gvnews_5_block ul {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &.style-3 {

            &.gvnews_4_block ul,
            &.gvnews_5_block ul,
            &.gvnews_6_block ul {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

.gvnews_userlist .gvnews_subscribe_count {
    font-size: 11px;
    margin-bottom: 0;
    color: #a0a0a0;
    line-height: initial;
    margin-top: 4px;
}

.editor-styles-wrapper .gvnews_userlist .gvnews_meta_subscribe .follow-wrapper a {
    background: #fff;
    color: #53585c;
    font-size: 10px;
    padding: 2px 8px;
    background: #fff;
    color: #53585c;
    font-size: 10px;
    padding: 2px 8px;
}

.gvnews_userlist .gvnews_meta_subscribe .follow-wrapper {
    display: none;
}

.gvnews_userlist-wrap:hover .gvnews_meta_subscribe .follow-wrapper {
    display: block;
}

.editor-styles-wrapper .gvnews_userlist .gvnews_meta_subscribe .follow-wrapper a {
    display: inline-block;
    padding: 0 8px !important;
    font-size: inherit;
    font-size: calc(100% - 4px);
    background: #fff;
    color: #53585c;
    font-size: 10px;
    padding: 2px 8px;
}

/** userlist element */

.gvnews_userlist .gvnews_meta_subscribe {
    line-height: initial;
    margin-top: 4px;

    .follow-wrapper {
        a {
            display: inline-block;
            padding: 0 8px;

            /** callback font-size */
            font-size: inherit;
            font-size: calc(100% - 4px);
        }

        .follow:before {
            content: unset;
        }
    }
}

.gvnews_userlist-wrap:hover .gvnews_meta_subscribe:not(.no-follow) .gvnews_subscribe_count,
.gvnews_userlist .gvnews_meta_subscribe .follow-wrapper {
    display: none;
}

.gvnews_userlist-wrap:hover .gvnews_meta_subscribe .follow-wrapper {
    display: block;
}

.gvnews_userlist .gvnews_meta_subscribe {
    font-size: 11px;
    margin-bottom: 0;
    color: #a0a0a0;

    .gvnews-spinner {
        display: none;
    }
}

.gvnews_userlist .gvnews_meta_subscribe .follow-wrapper a {
    background: #fff;
    color: #53585c;
    font-size: 10px;
    padding: 2px 8px;
}

/** userlist element */

.gvnews_userlist .gvnews_meta_subscribe {
    line-height: initial;
    margin-top: 4px;

    .follow-wrapper {
        a {
            display: inline-block;
            padding: 0 8px;

            /** callback font-size */
            font-size: inherit;
            font-size: calc(100% - 4px);
        }

        .follow:before {
            content: unset;
        }
    }
}

.gvnews_userlist-wrap:hover .gvnews_meta_subscribe:not(.no-follow) .gvnews_subscribe_count,
.gvnews_userlist .gvnews_meta_subscribe .follow-wrapper {
    display: none;
}

.gvnews_userlist-wrap:hover .gvnews_meta_subscribe .follow-wrapper {
    display: block;
}

.gvnews_userlist .gvnews_meta_subscribe {
    font-size: 11px;
    margin-bottom: 0;
    color: #a0a0a0;

    .gvnews-spinner {
        display: none;
    }
}

.gvnews_userlist .gvnews_meta_subscribe .follow-wrapper a {
    background: #fff;
    color: #53585c;
    font-size: 10px;
    padding: 2px 8px;
}