/* Block Heading */
.gvnews_block_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: relative;

  .gvnews_block_title span {
    height: 36px;
  }

  &:not(.gvnews_subcat_right) {
    .okayNav__menu-toggle {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);

      &.icon--active {
        -webkit-transform: translateY(-50%) rotate(90deg) !important;
        transform: translateY(-50%) rotate(90deg) !important;
      }
    }
  }
}

.gvnews_block_heading_1,
.gvnews_block_heading_2,
.gvnews_block_heading_3,
.gvnews_block_heading_4 {
  .gvnews_block_title span {
    padding: 0 15px;
  }
}

.gvnews_block_heading_5 {
  .gvnews_block_title span {
    padding-right: 15px;
    white-space: nowrap;
  }
}

.gvnews_block_title {
  color: #212121;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  line-height: normal;
  float: left;

  a {
    color: inherit;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  i span {
    line-height: 36px;
    padding: 0px 15px;
    white-space: nowrap;
  }

  i {
    margin-right: 8px;
    padding: 0;
    display: inline-block;
  }

  svg {
    margin-right: 8px;
  }
}

/* Block Heading 1 */
.gvnews_block_heading_1 {
  border-bottom: 2px solid #eee;

  .gvnews_block_title span {
    background: #f70d28;
    color: #fff;
    border-radius: 2px 2px 0 0;
    margin-bottom: -2px;
  }

  .gvnews_subcat {
    margin-bottom: -2px;
  }

  .gvnews_subcat_list>li>a {
    line-height: 34px;
  }

  .okayNav__menu-toggle {
    line-height: 34px;
  }
}

/* Block Heading 2 */
.gvnews_block_heading_2 {
  background: #eee;
  border-radius: 2px;

  .gvnews_block_title {
    font-size: 14px;

    span {
      background: #f70d28;
      color: #fff;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  .gvnews_subcat_list>li>a {
    font-size: 11px;
  }

  .gvnews_subcat {
    background: transparent;
    padding-right: 10px;
  }

  .okayNav__menu-toggle {
    margin-right: -10px;
  }
}

/* Block Heading 3 */
.gvnews_block_heading_3 {
  background: #f70d28;
  border-radius: 2px;

  .gvnews_block_title span {
    color: #fff;
  }

  .okayNav__menu-toggle span {
    background: #fff;
  }

  .gvnews_subcat_list li a {
    color: #fff;

    &.current {
      border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    }

    &:hover {
      background: rgba(0, 0, 0, 0.1);
      color: #fff;
    }
  }

  .gvnews_subcat {
    background: transparent;
    padding-right: 10px;
  }

  .okayNav__menu-toggle {
    margin-right: -10px;
  }
}

/* Block Heading 4 */
.gvnews_block_heading_4 {
  .gvnews_block_title span {
    background: #f70d28;
    color: #fff;
    border-radius: 2px;
  }
}

/* Block Heading 5 */
.gvnews_block_heading_5 {
  margin-bottom: 15px;

  .gvnews_block_title span {
    position: relative;
    padding-left: 0;
    background: #fff;
  }

  &.gvnews_aligncenter .gvnews_block_title span {
    padding: 0px 15px;
    white-space: nowrap;
  }

  .line {
    border-bottom: 2px solid #eee;
    width: 100%;
  }

  .gvnews_subcat {
    background: #fff;
  }

  .okayNav__nav--visible {
    padding-left: 7px;
  }
}

/* Block Heading 6 */
.gvnews_block_heading_6 {
  border-bottom: 2px solid #eee;

  &:after {
    content: '';
    width: 30px;
    height: 2px;
    background: #f70d28;
    display: block;
    position: absolute;
    bottom: -2px;
  }

  .gvnews_block_title span {
    padding: 0;
  }

  &.gvnews_aligncenter:after {
    margin: auto;
  }
}

/* Block Heading 7 */
.gvnews_block_heading_7 {
  .gvnews_block_title span {
    border-bottom: 2px solid #f70d28;
    padding: 0;
  }
}

/* Block Heading 8 */
.gvnews_block_heading_8 {
  margin-bottom: 15px;

  .gvnews_block_title {
    font-size: 18px;

    span {
      padding: 0;
      height: 30px;
      line-height: 30px;
    }

    i,
    svg {
      height: 30px;
      line-height: 30px;
    }
  }

  .gvnews_subcat_list>li>a {
    height: 30px !important;
    line-height: 30px !important;
  }

  .okayNav__menu-toggle {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
  }
}

/* Block Heading 9 */
.gvnews_block_heading_9 {
  border-top: 5px solid #eee;
  border-bottom: 2px solid #eee;

  .gvnews_block_title span {
    padding: 0;
  }

  &.gvnews_aligncenter:after {
    margin: auto;
  }
}

/* Second Title */
.gvnews_block_heading_5,
.gvnews_block_heading_6,
.gvnews_block_heading_7,
.gvnews_block_heading_8 {
  strong {
    color: #f70d28;
  }
}

/* Sub Category List */
.gvnews_subcat {
  display: block;
  float: left;
  margin-left: 1em;

  .okayNav__menu-toggle {
    width: 30px;
  }

  &.okayNav {
    display: flex;
    align-items: center;
  }
}

.gvnews_subcat_list {
  display: flex;
  vertical-align: top;
  margin: 0 !important;

  >li {
    display: inline-block;
    vertical-align: top;
    margin: 0 !important;

    >a:focus {
      outline-style: none !important;
    }
  }
}

.gvnews-block.gvnews-block-wrapper {
  .gvnews_aligncenter {
    text-align: center;

    .gvnews_block_title {
      float: none;
    }
  }

  .gvnews_subcat_list>li>a {
    color: #7b7b7b;
    display: block;
    line-height: 36px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 7px;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;

    &.current {
      color: #212121;
    }

    &:hover {
      color: #f70d28;
    }
  }
}

/* Floated Right */
.gvnews_subcat_right {
  .gvnews_subcat {
    float: right;
    margin-left: 0;
  }

  .gvnews_cat_menu {
    left: inherit;
    right: 0;
  }
}

.gvnews_boxed_container {
  .gvnews_main {
    .gvnews_block_heading {
      margin-bottom: 20px;
    }
  }

  .gvnews_block_heading_5 {
    margin-top: -10px;
  }

  .gvnews_block_heading_6,
  .gvnews_block_heading_7,
  .gvnews_block_heading_8 {
    margin-top: -10px;
  }

  .gvnews_block_heading_9 {
    margin: -20px -20px 20px;
    padding: 0 20px;
    border-bottom-color: #eee !important;
    border-bottom-width: 1px;
    border-top-color: inherit;
    border-top-width: 3px;
  }

  .gvnews_related_post_container {
    .gvnews_block_heading_9 {
      margin: 0 0 20px;
      padding: 0;
    }
  }
}

.gvnews_pb_boxed {
  .gvnews_block_heading {
    margin-bottom: 20px;
  }

  .gvnews_block_heading_5,
  .gvnews_block_heading_6,
  .gvnews_block_heading_7,
  .gvnews_block_heading_8 {
    margin-top: -10px;
  }

  .gvnews_block_heading_9 {
    margin: -20px -20px 20px;
    padding: 0 20px;
    border-bottom-color: #eee !important;
    border-bottom-width: 1px;
    border-top-color: inherit;
    border-top-width: 3px;
  }
}

.gvnews_postblock_carousel_1 {
  .gvnews_block_heading_6 {
    .tns-outer .tns-controls {
      position: absolute;
      top: -70px;
      right: 0;
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .gvnews_block_heading {
    margin-bottom: 20px;
  }

  .gvnews_block_title span {
    font-size: 13px;
  }

  .gvnews_subcat_list>li>a {
    font-size: 11px;
  }

  .gvnews_block_title span,
  .gvnews_subcat_list>li>a,
  .okayNav__menu-toggle {
    height: 30px !important;
    line-height: 30px !important;
  }
}

@media only screen and (max-width: 767px) {
  .gvnews_block_heading {
    margin-bottom: 20px;
  }
}
