.gvnews_slider_wrapper {
    overflow: hidden;
    position: relative;
    z-index: 0;

    .owl-carousel {
        overflow: hidden;
    }

    &.gvnews_owlslider {
        .tns-controls button {
            font-size: 16px;
            color: #212121;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 40px;
            line-height: 40px;
            width: 40px;
            text-align: center;
            background: #fff;
            border: 0;
            -webkit-box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
            -webkit-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            opacity: 0;
            z-index: 1;
        }

        &:hover .tns-controls button {
            opacity: 1;
        }

        .tns-controls button {
            &.tns-prev {
                left: 20px;
            }

            &.tns-next {
                right: 20px;
            }

            &:disabled {
                opacity: 0;
            }

            &:before {
                font-family: 'Font Awesome 6 Free' !important;
                font-weight: 900;
            }
        }

        .tns-nav {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 10px 0;
            z-index: 1;

            button {
                display: block;
                width: 12px;
                height: 12px;
                margin: 0 5px;
                filter: Alpha(Opacity=50);
                opacity: 0.5;
                border-radius: 100%;
                background: #fff;
                -webkit-backface-visibility: hidden;
                padding: 0;
                outline: unset;
                display: inline-block;
                zoom: 1;

                &.tns-nav-active,
                &:hover {
                    filter: Alpha(Opacity=100);
                    opacity: 1;
                }
            }
        }
    }
}

.gvnews_slide_caption {
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 40px 0 20px;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 70%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0.65)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);

    .gvnews_post_title {
        font-size: 26px;
        font-weight: bold;
        margin: 10px auto;
    }

    .gvnews_post_category {
        line-height: normal;

        a {
            display: inline-block;
            font-size: 11px;
            font-weight: normal;
            color: inherit;
            line-height: normal;
            margin-right: 5px;
            padding: 3px 6px;
            background: #f70d28;
            text-transform: uppercase;
            letter-spacing: 1px;
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
        }
    }

    .gvnews_post_excerpt {
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    }

    .gvnews_post_meta {
        font-size: 11px;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

        >div {
            display: inline-block;
            margin-right: 10px;
            white-space: nowrap;
        }

        span {
            display: inline-block;
            margin-right: 6px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.gvnews_caption_container {
    padding: 0 20px;
}

.gvnews_slider_placeholder {
    .thumbnail-container img {
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.gvnews_slider_thumbnail {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    &.disabled_nav .owl-nav {
        display: none;
    }

    .gvnews_slide_thumbnail_item {
        position: relative;
    }

    .tns-slide-active.current .gvnews_slide_thumbnail_item {
        &:before {
            border-color: #fff transparent transparent;
            border-style: solid;
            border-width: 10px 10px 0;
            content: '';
            right: 0;
            left: 0;
            width: 0px;
            margin: auto;
            position: absolute;
            top: 0;
            z-index: 2;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0px;
            z-index: 1;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.4);
        }
    }
}

.gvnews_slider_thumbnail:not(.tns-slider) {
    margin: 10px -5px 0px;
}

.gvnews_slider_thumbnail_wrapper {
    visibility: visible;
    position: relative;
}

.gvnews_slider_type_3:not(.owl-loaded) {

    &[data-items="1"] .gvnews_slide_item:first-child,
    &[data-items="2"] .gvnews_slide_item:nth-child(-n+2),
    &[data-items="3"] .gvnews_slide_item:nth-child(-n+3),
    &[data-items="4"] .gvnews_slide_item:nth-child(-n+4),
    &[data-items="5"] .gvnews_slide_item:nth-child(-n+5) {
        display: block;
    }
}

.gvnews-block {
    .gvnews_slider {
        transition: unset;
    }
}

.gvnews-block.gvnews-block-wrapper {

    .tns-horizontal.tns-subpixel>.tns-item {
        display: inline-block;
    }

    .gvnews_postblock_carousel_2 {
        .gvnews_post_category a {
            display: inline-block;
            font-size: 11px;
            line-height: normal;
            padding: 3px 6px;
            background: #f70d28;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }

        .gvnews_post_meta {
            font-size: 11px;
            text-transform: uppercase;
            color: #fff;
        }
    }

    .gvnews_slide_caption {
        a {
            color: #fff;
        }

        .gvnews_post_meta {

            a,
            .fa,
            svg {
                color: #fff;
            }
        }

        .gvnews_post_title a {
            color: #fff;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        }
    }
}

@media only screen and (max-width: 767px) {
    .gvnews_slider_wrapper {
        .size-1400 {
            padding-bottom: 140%;
        }
    }

    .gvnews_slide_caption {
        .gvnews_post_category a {
            font-size: 10px;
        }

        .gvnews_post_meta,
        .gvnews_post_category a {
            font-size: 10px;
            line-height: 10px;
        }
    }
}


@media only screen and (max-width: 479px) {
    .gvnews_slider_wrapper {

        &.gvnews_owlslider {
            .tns-controls button {
                font-size: 15px;
                width: 30px;
                height: 30px;
                line-height: 30px;

                &.tns-next {
                    right: 15px;
                }

                &.tns-prev {
                    left: 15px;
                }
            }

            .tns-nav button {
                width: 8px;
                height: 8px;
                line-height: 8px;
                margin: 0 4px;
            }
        }

        .tns-outer .tns-controls button,
        .owl-carousel .owl-nav div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 320px) {
    .gvnews_slider_wrapper.gvnews_owlslider {
        .tns-nav button {
            width: 5px;
            height: 5px;
            line-height: 5px;
            margin: 0 3px;
        }
    }

}