.gvnews-block .gutenverse-icon-svg {
    display: inline-flex;
    vertical-align: -.125em;
}

 .gvnews-post-meta {
    .meta-part {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        gap: 10px;

        a {
            color: inherit;

            :visited {
                color: inherit;
            }
        }

        .meta-items {
            display: inline-flex;
            align-items: center;
        }

        .gvnews-meta-author {
            img {
                border-radius: 100%;
                margin-right: 5px;
                width: 35px;
            }

            a {
                color: #f70d28;
            }
        }

        .gvnews-meta-date {
            a {
                font-weight: 400;
            }
        }

        .gvnews-meta-category {
            a {
                color: inherit;
                font-weight: 700;
            }
        }

        .gvnews-meta-comment {
            a {
                color: #53585c;
                font-size: 16px;
                font-weight: 400;
            }

            .fa {
                color: inherit;
            }
        }
    }
}

.gvnews-post-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 13px;
    width: 100%;
    text-transform: none;
    gap: 10px;

    .gvnews-meta-date.with-prefix {
        &::before {
            content: "\2014";
            margin-right: 10px;
        }
    }

}




@media only screen and (max-width: 767px) {
    .gvnews-post-meta {
        flex-direction: column;
        align-items: flex-start;

        .meta-part {
            width: 100%;
        }
    }
}