.gvnews_postblock_20 {
    .gvnews_pl_sm {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .gvnews_postblock_20 {
        &.gvnews_col_3o3 {
            .gvnews_post {
                float: left;
                padding-right: 30px;
                width: 33.333333333%;
            }
        }
        >.gvnews_block_container {
            .gvnews_post {
                &.gvnews_pl_sm {
                    min-height: 92px;
                }
                &.gvnews_pl_xs {
                    min-height: 40px;
                }
            }
        }
        &.gvnews_col_2o3 {
            .gvnews_post {
                float: left;
                padding-right: 30px;
                width: 50%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .gvnews_postblock_20 .gvnews_pl_sm {
        margin-bottom: 10px;
    }
}