/* Slider 2 */

.gvnews_slider_type_2_wrapper {

  .thumbnail-container {
    padding-bottom: 540px;
  }

  .tns-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    right: 20px;
    top: 50%;
    opacity: 0;
    margin-right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 1;
  }

  &:hover .tns-nav {
    opacity: 1;
  }

  .tns-nav button {
    display: block;
    zoom: 1;
    display: block;
    width: 12px;
    height: 12px;
    margin: 0;
    border-radius: 20px;
    background: transparent;
    border: 2px solid #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 0;
    outline: none;

    &.tns-nav-active,
    &:hover {
      background: #fff;
    }
  }
}

.gvnews_slider_wrapper {
  .gvnews_slider.gvnews_slider_type_2 {
    position: relative;
    visibility: visible;
    opacity: 1;
  }

  &.no-overlay .gvnews_slider_type_2 .gvnews_slide_item:before {
    display: none;
  }
}

.gvnews_slider_type_2 {
  .gvnews_slide_item {
    width: 100%;
    height: 540px;
    position: relative;
    background-color: #212121;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:not(.tns-item):not(:first-child) {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: rgba(0, 0, 0, 0.6);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
    }
  }

  .gvnews_caption_container {
    padding: 0;
    opacity: 0;
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
    -webkit-transition: 0.4s ease 0.2s;
    -o-transition: 0.4s ease 0.2s;
    transition: 0.4s ease 0.2s;
  }

  .tns-slide-active .gvnews_caption_container {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .gvnews_slide_caption {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 40px;
    bottom: inherit;
    padding: 30px 0;
    width: 50%;
    background: none;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    .gvnews_post_title {
      font-size: 46px;
      font-weight: bold;
      line-height: 1.1;
      margin: 20px auto;
      letter-spacing: -0.04em;
    }

    .gvnews_post_excerpt {
      max-width: 80%;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .gvnews_slider_type_2_wrapper {
    .tns-nav {
      opacity: 1;
    }

    .thumbnail-container {
      padding-bottom: 445px;
    }
  }

  .gvnews_slider_type_2 {
    .gvnews_slide_item {
      height: 445px;
    }

    .gvnews_slide_caption {
      width: 60%;

      .gvnews_post_title {
        font-size: 30px;
      }
    }
  }

}

@media only screen and (max-width: 767px) {
  .gvnews_slider_type_2_wrapper {
    .thumbnail-container {
      padding-bottom: 364px;
    }
  }

  .gvnews_slider_type_2 {
    .gvnews_slide_item {
      height: 364px;
    }

    .gvnews_slide_caption {
      left: 30px;

      .gvnews_post_title {
        font-size: 26px;
        margin: 15px auto 5px;
      }
    }

  }
}

@media only screen and (max-width: 568px) {
  .gvnews_slider_type_2 {
    .gvnews_slide_item {
      height: 228px;
    }

    .gvnews_slide_caption {
      left: 20px;

      .gvnews_post_title {
        font-size: 20px;
        line-height: 1.4;
      }
    }
  }
}

@media only screen and (max-width: 479px) {
  .gvnews_slider_type_2_wrapper {
    .tns-nav {
      right: 15px;

      button {
        width: 8px;
        height: 8px;
        margin: 5px 0;
      }
    }

    .thumbnail-container {
      padding-bottom: 190px;
    }
  }

  .gvnews_slider_type_2 {
    .gvnews_slide_item {
      height: 190px;
    }

    .gvnews_slide_caption .gvnews_post_title {
      font-size: 18px;
      margin: 10px auto 0;
    }

    .gvnews_post_meta {
      display: none;
    }

    .gvnews_slide_item {
      height: 190px;
    }

    .gvnews_slide_caption .gvnews_post_title {
      font-size: 16px;
      margin: 10px auto 0;
    }
  }
}

@media only screen and (max-width: 320px) {

  .gvnews_slider_type_2_wrapper {
    .thumbnail-container {
      padding-bottom: 145px;
    }
  }

  .gvnews_slider_type_2 {
    .gvnews_slide_item {
      height: 145px;
    }

    .gvnews_slide_caption .gvnews_post_title {
      font-size: 1em;
      margin-top: 5px;
    }
  }
}