@media only screen and (min-width: 768px) {
	.gvnews_postblock_19 {
		&:not(.gvnews_col_1o3) .gvnews_posts {
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
			display: flex;
			align-items: stretch;
            gap: 2%;
		}

		&.gvnews_col_2o3 .gvnews_post {
			float: left;
			width: 49%;
		}

		&.gvnews_col_3o3 .gvnews_post {
			float: left;
			width: 32%;
		}

		&.gvnews_postblock_20.gvnews_col_3o3 .gvnews_post {
			float: left;
			width: 32%;
		}
	}
}
