.gvnews-block .gvnews_postblock_19 {
    .gvnews_pl_md_box .gvnews_post_meta {
        a, a:hover {
            color: unset;
        }

        svg {
            color: #2e9fff;
        }
    }
}

/* src/assets/scss/fse-standard/desktop.scss */
.gvnews_postblock_19 {
    .gvnews_posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 25px;
        column-gap: 25px;

        .gvnews_pl_md_box {
            margin-bottom: 5px;
        }
    }

    &.gvnews_col_1o3 {
        .gvnews_postsmall,
        .gvnews_posts {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
    }

    &.gvnews_col_2o3 .gvnews_posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .gvnews_post {
        padding-right: 0;
        margin-bottom: 0;
        width: 100%;
    }
}

/* src/assets/scss/fse-standard/mobile.scss */
@media only screen and (max-width: 767px) {
    .gvnews_postblock_19 {
        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
            }

            .gvnews_block_navigation {
                margin-top: 20px;
            }
        }
    }
}

/* src/assets/scss/parts/module.scss */
@media only screen and (max-width: 767px) {
    .gvnews_postblock_19 .gvnews_pl_md_box {
        .gvnews_post_title {
            font-size: 20px;
        }

        .gvnews_thumb {
            max-height: 350px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .gvnews_postblock_19 .gvnews_pl_md_box .gvnews_post_title {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    .gvnews_postblock_19 .gvnews_pl_md_box .gvnews_post_title {
        font-size: 14px;
    }
}

.gvnews_postblock_19 .gvnews_pl_md_box.no_thumbnail .gvnews_postblock_content {
    position: relative;
}

/* Moved from src/assets/scss/fse-standard.scss */
.gvnews_postblock {
    .gvnews_post {
        .gvnews-thumb-overlay-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            color: #fff;
            line-height: 1;
            pointer-events: none;
        }
    }

    .with-overlay-icon .gvnews-thumb-overlay {
        background: #000;
        opacity: 0.3;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        z-index: 1;
        pointer-events: none;
    }
}

.gvnews_post {
    .gvnews-thumb-overlay-icon {
        transition: all .3s;
    }
}

