/* src/assets/scss/fse-standard/desktop.scss */
.gvnews_postblock_24 {
    .gvnews_posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 8px;
    }

    &.gvnews_col_2o3 .gvnews_posts {
        grid-template-columns: repeat(2, 1fr);
    }

    &.gvnews_col_1o3 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
        }

        &.gvnews_pagination_nextprev .gvnews_pl_xs_4:last-child .gvnews_postblock_content,
        &.gvnews_pagination_loadmore .gvnews_pl_xs_4:last-child .gvnews_postblock_content {
            border-bottom: 0;
        }

        .gvnews_postsmall {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    .gvnews_post {
        padding-right: 0;
        margin-bottom: 0;
    }

    .gvnews_pl_md_box {
        margin-bottom: 12px;
    }

    .gvnews_pl_xs_4 {
        .gvnews_postblock_content {
            border-bottom: 1px solid #eee;
            padding-bottom: 8px;
        }

        .gvnews_post_title,
        .gvnews_post_meta {
            position: relative;
            z-index: 1;
        }
    }

    &.gvnews_postblock {
        .gvnews_block_navigation {
            margin-top: 8px;
        }
    }
}

/* src/assets/scss/fse-standard/tablet.scss */
@media only screen and (max-width: 1024px) {
    .gvnews_postblock_24 {
        .gvnews_pl_md_box {
            margin-bottom: 2px;
        }
    }
}

/* src/assets/scss/fse-standard/mobile.scss */
@media only screen and (max-width: 767px) {
    .gvnews_postblock_24 {
        &.gvnews_postblock {
            .gvnews_posts {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .gvnews_pl_md_box {
            margin-bottom: 7px;
        }
    }
}

/* src/assets/scss/parts/module.scss */
@media only screen and (max-width: 767px) {
    .gvnews_postblock_24 .gvnews_pl_md_box .gvnews_thumb {
        max-height: 350px;
    }
}

@media only screen and (max-width: 480px) {
    .gvnews_postblock_24 .gvnews_pl_md_box .gvnews_post_title {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    .gvnews_postblock_24 .gvnews_pl_md_box .gvnews_post_title {
        font-size: 14px;
    }
}

.gvnews_postblock_24 .gvnews_pl_md_box.no_thumbnail .gvnews_postblock_content {
    position: relative;
}
