.gvnews-post-author {
	display: flex;
	border: 1px solid #eee;
	margin-bottom: 30px;
	padding: 30px 0;

	&.avatar-top,
	&.avatar-bottom {
		flex-direction: column;
	}
	&.avatar-left,
	&.avatar-right {
		flex-direction: row;
	}

	.gvnews-author-image {
		float: left;
		width: 80px;
		height: 80px;
		text-align: center;
		margin-right: 30px;
		margin-left: 30px;

		img {
			border-radius: 100%;
			height: 100%;
			width: 100%;
		}
	}

	.gvnews-author-content {
		color: #f70d28;

		.gvnews-author-name {
			font-size: 18px;
			font-weight: 700;
			margin: 0 0 10px;

			a {
				color: inherit;
			}
		}

		p.gvnews-author-desc {
			margin-bottom: 1em;
		}

		.gvnews-author-socials {
			display: flex;
			flex-direction: row;
			gap: 10px;
			flex-wrap: wrap;
			a {
				color: #999;
				display: inline-block;
				font-size: 16px;
				-webkit-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
		}
	}
}
