/* Block Heading 2 */
.gvnews_block_heading_2 {
  background: #eee;
  border-radius: 2px;

  .gvnews_block_title {
    font-size: 14px;

    span {
      background: #f70d28;
      color: #fff;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  .gvnews_subcat_list>li>a {
    font-size: 11px;
  }

  .gvnews_subcat {
    background: transparent;
    padding-right: 10px;
  }

  .okayNav__menu-toggle {
    margin-right: -10px;
  }
}