.gvnews-post-comment {
	label {
		font: inherit;
		display: block;
		font-weight: 700;
		margin-bottom: 0.5em;
		border: 0;
		margin: 0;
		padding: 0;
		vertical-align: baseline;
	}

	ol,
	ul {
		list-style-type: none;
	}

	.commentlist {
		.comment-meta {
			.comment-author {
				.fn a {
					color: #f70d28;
				}
			}
		}

		article.comment-body {
			border-top: 1px solid rgba(255, 255, 255, 0.3);
		}

		.children {
			margin-left: 0;
		}
	}

	.comment-form {
		p {
			margin: 0 0 20px;

			&.form-submit {
				clear: both;
			}
		}

		a {
			color: #f70d28;
			text-decoration: none;
		}

		.required {
			color: #f70d28;
		}

		input[type="submit"] {
			// untuk button
			border: none;
			border-radius: 0;
			background: #f70d28;
			color: #fff;
			padding: 0 20px;
			display: inline-block;
			cursor: pointer;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: bold;
			letter-spacing: 1px;
			outline: 0;
			-webkit-appearance: none;
			-webkit-transition: 0.3s ease;
			transition: 0.3s ease;
			padding: 10px 20px;

			&:hover {
				box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 100px inset;
			}
		}

		input:not([type="submit"]),
		textarea {
			// untuk input lainnya
			background: #fff;
			border: 1px solid #e0e0e0;
			border-radius: 0;
			box-shadow: none;
			display: inline-block;
			font-size: 14px;
			font-weight: 300;
			height: 40px;
			margin: 0;
			max-width: 100%;
			outline: none;
			padding: 7px 14px;
			-webkit-transition: all 0.2s ease;
			transition: 0.25s ease;
			width: 100%;
		}

		input[type="checkbox"] {
			display: inline;
			height: auto;
			line-height: inherit;
			width: auto;
		}

		textarea {
			min-height: 60px;
			height: auto;
			width: 100%;
			resize: vertical;
			font: inherit;
		}

		.comment-form-cookies-consent {
			clear: both;
			position: relative;

			label {
				display: inline-block;
				padding-left: 20px;
			}

			input {
				left: 0;
				position: absolute;
				top: 0.35em;
			}
		}
	}

	hr.separator {
		border: none;
		border-top: 3px solid #eee;
		margin-top: 30px;
	}

	.comment-respond {
		border: none;
		margin: 0;

		.comment-reply-title {
			font-weight: bold;
			font-size: 24px;
			margin: 20px 0 10px;
			letter-spacing: -0.02em;
			position: relative;
		}
	}

	.comment-reply-title small a {
		position: absolute;
		top: 4px;
		right: 15px;
		width: 24px;
		height: 24px;
		text-indent: -9999em;

		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 2px;
			height: 100%;
			top: 0;
			left: 50%;
			background: var(--wp--preset--color--primary);
			-webkit-transition: background 0.2s linear;
			-o-transition: background 0.2s linear;
			transition: background 0.2s linear;
		}

		&:hover {

			&:before,
			&:after {
				background: #212121;
			}
		}

		&:before {
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		&:after {
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
}


/** Comments **/

.comments-title {
	font-weight: bold;
	font-size: 26px;
	margin: 20px 0;
	letter-spacing: -0.02em;

	.count {
		display: inline-block;
		font-size: 13px;
		background: #999;
		color: #fff;
		border-radius: 3px;
		padding: 2px 12px;
		vertical-align: middle;
		margin-left: 5px;
	}
}

.commentlist,
.pinglist {
	clear: both;
	font-size: 15px;
	line-height: 24px;
}

.commentlist li,
.pinglist li {
	clear: both;
	font-size: 1em;
}

.comment-body {
	padding: 20px 0 0 70px;
}

.commentlist {
	.children {
		margin-left: 2em;
	}

	.comment-body {
		clear: both;
		margin-bottom: 10px;
	}
}

.pinglist li {
	clear: both;
	margin-bottom: 10px;
}

.commentlist {

	.comment-author,
	.comment-meta,
	.comment-awaiting-moderation {
		font-size: 15px;
		display: inline-block;
		line-height: 22px;
	}

	.comment-author {
		margin-right: 6px;
		margin-bottom: 6px;
		position: relative;
	}

	.fn {
		color: #212121;
		font-size: 14px;
		font-style: normal;
		font-weight: bold;
	}
}

.pinglist .ping-link {
	color: #212121;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
}

.commentlist {
	.fn a {
		color: inherit;
	}

	.says {
		display: none;
	}

	.avatar {
		border-radius: 100%;
		width: 55px;
		position: absolute;
		top: 0;
		left: -70px;
	}

	.bypostauthor>.comment-body>.comment-author>.fn {
		color: var(--wp--preset--color--primary);
	}

	.comment-meta .fa, .comment-meta svg {
		color: #a0a0a0;
		margin-right: 2px;
	}
}

.pinglist .ping-meta:before {
	color: #a0a0a0;
	margin-right: 2px;
	content: "\f017";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.commentlist .comment-meta a,
.pinglist .ping-meta {
	color: #a0a0a0;
	font-size: 12px;
}

.comment-content p {
	margin-bottom: 1em;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0.5em;
	}
}

.commentlist .reply a {
	color: #a0a0a0;
	font-weight: bold;
	font-size: 11px;
	text-rendering: auto;

	&:before {
		content: "\f075";
		font-family: "Font Awesome 6 Free";
		font-weight: 900;
		margin-right: 5px;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.comment-awaiting-moderation {
	color: #24a5db;
	font-style: normal;
}

/** Comment Navigation **/

.comment-navigation {
	padding-top: 20px;

	a {
		color: #212121;
		font-size: 13px;
		font-weight: bold;
		border: 1px solid #eee;
		padding: 5px 10px;
		-webkit-transition: .2s ease;
		transition: .2s ease;

		&:before,
		&:after {
			font-family: "Font Awesome 6 Free";
			font-weight: 900;
		}

		&:hover {
			background: #f5f5f5;
		}
	}

	.prev-comment {
		float: left;
	}

	.next-comment {
		float: right;
	}

	.prev-comment a:before {
		content: "\f104";
		padding-right: 6px;
	}

	.next-comment a:after {
		content: "\f105";
		padding-left: 6px;
	}
}

/* Pings */

.pinglist {
	li {
		padding-left: 0;
	}

	.ping-meta {
		font-size: 13px;
		line-height: 22px;
	}
}

/** Comment Form **/

.comment-form-email,
.comment-form-url {
	width: 50%;
	float: left;
}

.comment-form-email {
	padding-right: 15px;
}

.comment-form-url {
	padding-left: 15px;
}

.comment-form-cookies-consent {
	clear: both;
	position: relative;

	input {
		position: absolute;
		top: 0.35em;
		left: 0;
	}

	label {
		display: inline-block;
		padding-left: 20px;
	}
}

.pingback {
	.comment-body {
		padding-left: 0;
	}

	.edit-link::before {
		content: "\002f";
		display: inline-block;
		opacity: 0.7;
		padding: 0 0.538461538em;
	}

	.comment-edit-link {
		color: #686868;
	}

	.edit-link {
		color: #686868;
		font-size: 13px;
		font-size: 0.8125rem;
		line-height: 1.6153846154;
	}
}

.comment-form-privacy_policy {
	clear: both;
}

.comment.alt {
	h3 {
		color: #212121;
	}

	label {
		color: #53585c;
	}

	.comment-respond {
		border-color: #eee;
	}

	.chosen-container-single,
	.chosen-single,
	input:not([type=submit]),
	select,
	textarea {
		border: 1px solid #e0e0e0;
	}

	input:not([type=submit]):focus,
	select:focus,
	textarea:focus {
		border-color: #ccc;
	}
}

@media only screen and (max-width: 768px) {
	.comment-body {
		padding-left: 55px;
	}

	.commentlist .avatar {
		width: 40px;
		left: -55px;
	}
}

@media only screen and (max-width: 480px) {
	.comment-body {
		padding: 10px 0 0 0;
	}

	.commentlist {
		margin-bottom: 10px;

		.comment-author {
			margin-bottom: 5px;
		}

		.avatar {
			display: none;
		}
	}

	.comment-form-email,
	.comment-form-url {
		width: 100%;
		float: none;
		padding: 0;
	}
}
