.gvnews_postblock_37 .gvnews_post .box_wrap {
    background: #fff;
    border: 1px solid #eee;
    overflow: hidden;
}

.gvnews_postblock_37.alt .gvnews_post .box_wrap {
    background: #000;
    border: 0;
}

.gvnews_postblock_37 .box_shadow .box_wrap {
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.gvnews_postblock_37 {

    .gvnews_postblock_37 .gvnews_post_title {
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 5px;
    }

    .box_wrap {
        height: 100%;
    }

    .gvnews_postblock_content {
        padding: 20px 20px 25px;
        position: relative;
        text-align: center;
    }

    .gvnews_thumb .gvnews_post_category {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 0;
    }

    .gvnews_posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 25px;
        column-gap: 30px;

        .gvnews_post {
            margin-bottom: 0;
        }

        .box_wrap {
            display: flex;
            flex-direction: column;
            align-items: inherit;

            .gvnews_postblock_content {
                flex: 1;
                width: -webkit-fill-available;
                width: -moz-available;
                width: fill-available;
            }
        }
    }

    &.gvnews_col_1o3 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }
    }

    &.gvnews_col_2o3 .gvnews_posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1024px) {

    .gvnews_postblock_37 .gvnews_post_title {
        font-size: 18px;
    }

}

@media only screen and (max-width: 1024px) {

    .gvnews_postblock_37 {
        .gvnews_posts {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

/* MOBILE DEVICE */
@media only screen and (max-width: 767px) {

    .gvnews_postblock_37 {
        .gvnews_posts {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

/* Moved from src/assets/scss/fse-standard.scss */
.gvnews_postblock {
    .gvnews_post {
        .gvnews-thumb-overlay-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            color: #fff;
            line-height: 1;
            pointer-events: none;
        }
    }

    .with-overlay-icon .gvnews-thumb-overlay {
        background: #000;
        opacity: 0.3;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        z-index: 1;
        pointer-events: none;
    }
}

.gvnews_post {
    .gvnews-thumb-overlay-icon {
        transition: all .3s;
    }
}

