.gvnews_postblock_37.gvnews_postblock {
	.gvnews_posts {
		.box_wrap {
			display: flex;
			flex-direction: column;
			align-items: inherit;

			.gvnews_postblock_content {
				flex: 1;
				width: -webkit-fill-available;
				width: -moz-available;
				width: fill-available;
			}
		}
	}
}