.gvnews_postblock_5 {
	&.gvnews_col_1o3 {
		.gvnews_thumb {
			width: 100% !important;
		}
		.gvnews_pl_lg_2 {
			flex-direction: column;
		}
	}
}

@media only screen and (max-width: 480px) {
	.gvnews_pl_lg_2 .gvnews_thumb {
		margin-right: 10px;
	}
	.gvnews_postblock_5 {
		.gvnews_pl_lg_2 {
			.gvnews_thumb {
				margin: 0;
				width: 40%;
			}
			.gvnews_postblock_content {
				margin-left: 10px;
			}
		}
	}
}
