/* Split from blocks-trim.scss. Exclusive selectors for ticker. */
.gvnews_breakingnews {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  a {
    color: #212121;

    &:hover {
      text-decoration: underline;
    }
  }
}


.gvnews_breakingnews_title {
  padding: 0 10px;
  line-height: 40px;
  background: #f70d28;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;

  .fa,
  svg {
    margin-right: 5px;
  }
}


.gvnews_news_ticker {
  background: #fff;
  font-size: 13px;
  display: block;
  overflow: hidden;
  width: auto;
  height: 40px;
  line-height: 38px;
  border: 1px solid #eee;
  border-left: 0;
  border-right: 0;
  padding-left: 15px;
  flex: 1;
}


.gvnews_news_ticker_item {
  max-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;

  span a,
  span {
    line-height: inherit !important;
  }

  .post-date {
    font-size: 11px;
    margin-left: 10px;
    margin-right: 10px;
    color: #a0a0a0;
  }
}


.gvnews_news_ticker_control {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  background-color: #fff;

  .nav-separator {
    width: 1px;
    height: 38px;
    background-color: #eee;
  }

  .gvnews_news_ticker_arrow {
    background: #fff;
    cursor: pointer;
    width: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    .gutenverse-icon-svg {
      height: 38px;
    }

    i {
      line-height: 38px;
    }

    &:hover {
      background: #f7f7f7;
    }

  }

}


.gvnews_news_ticker_items {
  position: relative;
  -webkit-backface-visibility: hidden;
}


.gvnews_news_ticker_item {
  z-index: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}


.gvnews_news_ticker_active {
  z-index: 1;
  opacity: 1;
}


.gvnews_news_ticker_animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


/** fade in left **/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/** fade in right **/
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/** fade out left **/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/** fade out right **/
@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}